@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

li:hover {
  text-underline-offset: 8px;
}

input:checked ~ .toggle-bg {
  background-color: #3b82f6; /* Equivalent to bg-blue-500 in Tailwind */
}

input:checked ~ .dot {
  transform: translateX(100%);
}

/* Base style when submenu is hidden */
.submenu {
  opacity: 0;
  height: 0;

  transform: translateY(-10px);
  transition: opacity 0.4s, transform 0.4s, visibility 0.4s;
}

/* Styles when submenu is visible */
.submenu-open {
  opacity: 1;
  height: auto;
  transform: translateY(0);
  transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
}
